<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>364741681289-957eq7t2nsk5uubfrooe4hs6n32mq8tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364741681289-957eq7t2nsk5uubfrooe4hs6n32mq8tj</string>
	<key>API_KEY</key>
	<string>AIzaSyDRHR4Ep3H-TLp5haF7gzjQYUSUYn9I0p8</string>
	<key>GCM_SENDER_ID</key>
	<string>364741681289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.TutableDev</string>
	<key>PROJECT_ID</key>
	<string>tutabledev</string>
	<key>STORAGE_BUCKET</key>
	<string>tutabledev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364741681289:ios:de1a7c501085c1ad</string>
	<key>DATABASE_URL</key>
	<string>https://tutabledev.firebaseio.com</string>
</dict>
</plist>